/* === BACKGROUND === */

html {
    cursor: url('images/Cursor.png'), auto !important;
}

.large-cursor-element {
  /* Specify the URL to your large image file (e.g., cursor.png) */
  /* The numbers (e.g., 64 64) define the hotspot coordinates (the precise clickable point) */
  cursor: url('images/Cursor.png') 32 32, auto;
}


Body{
  background-color: #121212;
  font-family:'Times New Roman', Times, serif;
  color: ivory;
}

/* === BASE STYLE === */
body {
    margin: 0;
    overflow: hidden; /* Hide scrollbar during splash screen */
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100; /* Ensure it's on top of everything */
}

#main-content {
    padding: 20px;
    position: relative; /* Add this so absolute positioned images work */
    min-height: 100vh; /* Make sure body is tall enough for scattered images */
}

.hidden {
    display: none !important;
}


/* === IMAGE STYLE === */
.resized-image {
  width: 450px;
  height: auto; 
}

.resized-image2 {
  width: 400px;
  height: auto; 
}

/* Glow effect on hover */
.drop-shadow-glow:hover {
    /* Horizontal offset, Vertical offset, Blur radius, Color */
    filter: drop-shadow(2px 10px 9px rgba(211,175,55, 1)); 
}

/* Image scaling */
a .thumbnail {
  /* Set initial size and add a smooth transition */
  transition: transform 0.3s ease;
}

/*
a .thumbnail:hover {
  transform: scale(1.3);
  /* Optional: bring enlarged image above other elements 
  position: relative;
  z-index: 10; 
}
*/

.blurry-image {
  filter: blur(3px);   /* Gaussian blur */
  -webkit-filter: blur(3px);
}

/* Position */
.scattered-image {
    position: absolute;
}

.img1 {
    top: 20px;
    left: 50px;
    transform: rotate(10deg); /* Optional: add rotation */
}

.img1:hover {
    transform: rotate(-10deg) scale(1.2);
    z-index: 10;
}

.img2 {
    top: 150px;
    right: 30px;
    transform: rotate(-15deg);
}

.img2:hover {
    transform: rotate(15deg) scale(1.2);
    z-index: 10;
}

.img3 {
    bottom: 40px;
    left: 40%;
    transform: rotate(5deg);
}

.img3:hover {
    transform: rotate(-5deg) scale(1.2);
    z-index: 10;
}

.img4 {
    top: 300px;
    right: 60%;
    transform: rotate(-5deg);
}

.img4:hover {
    transform: rotate(5deg) scale(1.2);
    z-index: 10;
}

.img5 {
    bottom: 800px;
    left: 90%;
    transform: rotate(-51deg);
}

.img5:hover {
    transform: rotate(51deg) scale(1.2);
    z-index: 10;
}

.img6 {
    bottom: 650px;
    left: 60%;
    transform: rotate(20deg);
}

.img6:hover {
    transform: rotate(-20deg) scale(1.2);
    z-index: 10;
}

.img7 {
    bottom: 100px;
    right: 10%;
    transform: rotate(-5deg);
}

.img7:hover {
    transform: rotate(5deg) scale(1.2);
    z-index: 10;
}



