@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --font-heading: "Spectral", serif;
  --font-subheading: "inter-variable", sans-serif;
  --font-body: "inter-variable", sans-serif;

}

/* === FONT === */

p {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.6;
  color: var(--gray-800);
  margin-bottom: 1rem;
}

h1 {
  font-family: var(--font-heading);
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-two);
  margin-bottom: 1rem;
}

/* === FONT FADE === */

.fade-text {
    opacity: 0;
    animation: fadeInOut 15s ease-in-out;
    font-size: 24px;
    text-align: center;
    padding: 50px 40px 0;
    max-width: 1300px; /* Constrains width */
    margin: 0 auto; /* Centers it */
}

/* Define the animation sequence */
@keyframes fadeInOut {
    /* At the start (0%) and end (100%) of the cycle, opacity is 0 */
    0% {
        opacity: 0;
    }
    /* Halfway through (50%), opacity is 1 (fully visible) */
    50% {
        opacity: 1;
    }
    /* Back to hidden at the end of the cycle */
    100% {
        opacity: 0;
    }
}

/* === BACKGROUND === */

html {
    cursor: url('images/point.png'), auto !important;
}


Body{
  background-color: #121212;
  font-family:'Times New Roman', Times, serif;
  color: ivory;
}

/* === BASE STYLE === */
body {
    margin: 0;
    overflow: hidden; /* Hide scrollbar during splash screen */
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100; /* Ensure it's on top of everything */
}

#main-content {
    padding: 20px;
    position: relative; /* Add this so absolute positioned images work */
    min-height: 100vh; /* Make sure body is tall enough for scattered images */
}

.hidden {
    display: none !important;
}


/* === IMAGE STYLE === */
.resized-image {
  width: 450px;
  height: auto; 
}

.resized-image2 {
  width: 400px;
  height: auto; 
}

/* Glow effect on hover */
.drop-shadow-glow:hover {
    /* Horizontal offset, Vertical offset, Blur radius, Color */
    filter: drop-shadow(2px 10px 9px rgba(211,175,55, 1)); 
}

/* Image scaling */
a .thumbnail {
  /* Set initial size and add a smooth transition */
  transition: transform 0.3s ease;
}

/*
a .thumbnail:hover {
  transform: scale(1.3);
  /* Optional: bring enlarged image above other elements 
  position: relative;
  z-index: 10; 
}
*/

.blurry-image {
  filter: blur(3px);   /* Gaussian blur */
  -webkit-filter: blur(3px);
}

/* Position */
.scattered-image {
    position: absolute;
}

.img1 {
    top: 20px;
    left: 50px;
    transform: rotate(10deg); /* Optional: add rotation */
}

.img1:hover {
    transform: rotate(-10deg) scale(1.5);
    z-index: 10;
}

.img2 {
    top: 150px;
    right: 30px;
    transform: rotate(-15deg);
}

.img2:hover {
    transform: rotate(15deg) scale(1.5);
    z-index: 10;
}

.img3 {
    bottom: 40px;
    left: 40%;
    transform: rotate(5deg);
}

.img3:hover {
    transform: rotate(-5deg) scale(1.5);
    z-index: 10;
}

.img4 {
    top: 300px;
    right: 60%;
    transform: rotate(-5deg);
}

.img4:hover {
    transform: rotate(5deg) scale(1.5);
    z-index: 10;
}

.img5 {
    top: 500px;
    right: 50%;
    transform: rotate(-51deg);
}

.img5:hover {
    transform: rotate(51deg) scale(1.5);
    z-index: 10;
}

.img6 {
    bottom: 650px;
    left: 60%;
    transform: rotate(20deg);
}

.img6:hover {
    transform: rotate(-20deg) scale(1.5);
    z-index: 10;
}

.img7 {
    bottom: 100px;
    right: 10%;
    transform: rotate(-5deg);
}

.img7:hover {
    transform: rotate(5deg) scale(1.5);
    z-index: 10;
}



